<div class="jumbotron text-center">
	<h1>Welcome to Dev Match</h1>
	<h2>A membership site where entrepeneurs can meet developers.</h2>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h2 class="text-center">Basic Membership</h2>
			<h4>Sign Up for free and get basic access to the community. <br/></h4>
			<%= link_to 'Sign up with Basic', new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h2 class="text-center">Pro Membership</h2>
			<h4>Sign Up for the pro account for for $10/month and get access to the community and contact information!</h4>
			<%= link_to 'Sign up with Pro', new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
		</div>
	</div>
</div>