.special {
  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
}
/*for a white different bg*/
.well.row{

  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
        
}
/*circular profile pics*/
.index-profile {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
/*profile page avatars*/
.user-show-avatar {
	height: 200px;
	width: 200px;
}
/*Adjusting icons*/
.job-title-icon {
	width: 30px;
	height: 30px;
	border: 10% solid #2e6da4;
	display: inline-block;
	color: white;
	background-color: #337ab7;
	border-radius: 10%;
	text-align: center;
}
.well.profile-block {
	color: #fff;
	h3{
		margin-top: 0;
	}
}
.well.job-description {
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.contact-info.well {
	background-color: #5bc0de;
	border-color: #46b8da;
}